---
import IconHash from "@/assets/icons/IconHash.svg";

type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;

// Recuperiamo la base (es. /marcoschipani.github.io)
const base = import.meta.env.BASE_URL.replace(/\/$/, "");

// Costruiamo il link includendo la base e pulendo eventuali doppi slash
const tagHref = `${base}/tags/${tag}/`.replace(/\/+/g, "/");
---

<li class="inline-block">
  <a
    href={tagHref}
    transition:name={tag}
    class:list={[
      "flex items-center gap-1 transition-all duration-300",
      "bg-accent/5 border border-accent/10 rounded-full font-medium text-accent",
      "hover:bg-accent hover:text-white hover:border-accent",
      "focus-visible:ring-2 focus-visible:ring-accent",
      { "px-2 py-1 text-xs": size === "sm" },
      { "px-4 py-2 text-sm md:text-base": size === "lg" },
    ]}
  >
    <IconHash
      class:list={[
        "opacity-70",
        { "size-4": size === "lg" },
        { "size-3": size === "sm" },
      ]}
    />
    <span>{tagName}</span>
  </a>
</li>